.body {
    color: rgb(73, 165, 42);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.titulo{
    color: blueviolet;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
}